@model Samaritans.Models.ExternalLoginListViewModel
@{
    ViewBag.Title = "Home Page";
    ViewBag.AppName = "Do Gooder";

}

<div class="jumbotron text-center">
    <h1>@ViewBag.AppName</h1>
    <p class="lead">A casual way to volunteer for short periods of time, occasionally.</p>
</div>

@if (!User.Identity.IsAuthenticated)
{
    @Html.Partial("~/Views/Account/_ExternalLoginsListPartial.cshtml", Model)
}
