@model List<EventListModel>
@{
    ViewBag.Title = "Index";
}

<h2>Your Events</h2>

<div>
    @Html.ActionLink("Create New Event", "Create", "Event")
</div>

<div class="panel">
    <div class="panel-heading">
        <h4 class="panel-title">
            Your Upcoming Events
        </h4>
    </div>
    <div class="panel-body">
        <div class="form-horizontal">
            <div class="form-group" id="EventFlexBox">
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    @Html.Hidden("ShowMoreOffset", 0)
                    <input type="button" value="Show More" onclick="ShowMore('@DateTime.Now.Date')" />
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/explore")
}