@model IEnumerable<Samaritans.Models.Event.EventViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Your Events</h2>


<div class="panel">
    <div class="panel-heading">
        <h4 class="panel-title">
            Your Upcoming Events
        </h4>
    </div>
    <div class="panel-body">
		@foreach (var e in Model)
		{
		    <div>@e.Name</div>
            
		    <div>@e.Purpose</div>

		}
        <div class="form-horizontal">
            <div class="form-group row">
                <div class="col-md-12">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function ()
    {
        $("#calendar").fullCalendar({
            events: function (start, end, timezone, callback)
            {
                $.ajax({
                    url: "/ProjectCalendar/GetEvents",
                    dataType: "json",
                    data: {
                        startDate: start.toISOString(),
                        endDate: end.toISOString()
                    },
                    success: function (data)
                    {
                        callback(data);
                    }
                });
            }
        });
    });


</script>