body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#socialLoginList {
    text-align: center;
}

.oauth {
    color: white;
    font-family: helvetica;
    line-height: 30pt;
    font-size: x-large;
    border-style: none;
    font-stretch: expanded;
    margin: 6px;
}

    .oauth .fa {
        font-size: 40pt;
    }

    .oauth.oauth-google {
        background-color: #e74c3c;
    }

    .oauth.oauth-linkedin {
        background-color: #007bb6;
    }

    .oauth.oauth-twitter {
        background-color: #4099ff;
    }

    .oauth.oauth-facebook {
        background-color: #3B5998;
    }

.btn-sq-lg {
    width: 250px;
    height: 250px;
}

.btn-sq {
    width: 100px;
    height: 100px;
    font-size: 10px;
}

.btn-sq-sm {
    width: 50px;
    height: 50px;
    font-size: 10px;
}

.btn-sq-xs {
    width: 25px;
    height: 25px;
    padding: 2px;
}


#EventList 
{
    border: 1px solid black;
    width: 100%;
}

#EventList thead
{
    background-color: #34495E;
    color: #FFF;
    font-weight: bold;
}

#EventList th, td 
{
    padding: .5em;
}

#EventFlexBox
{
    text-align: center;
}

#EventFlexBox .eventCard
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 75%;
    margin-bottom: 1em;
}

.eventCard 
{
    border: 1px solid #34495E;
    border-top: 0;
    padding: 0;
    font-size: .75em;
}
.eventCard label
{
    font-weight: bold;
    font-size: 1em;
}

.eventCard .title
{
    background-color: #34495E;
    color: #fff;

}

.eventCard .row
{
    padding: 0 1em;
}